html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

#root {
    width: 100%;
    height: 100%;
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.main-canvas {
    margin: 0;
    /* This allows the flexbox to grow to max size, this is needed for WebGPU */
    flex: 1;
    /* This forces CSS to ignore the width/height of the canvas, this is needed for WebGL */
    contain: size;
}